//color

$black: #2f3234;
$red: #e45028;
$red-dark: #c1401e;
$red-light: #ec8468;
$orange: #f08c33;
$orange-dark: #e35028;
$yellow: #f9b43b;
$container-width: 940px;


//adjustment

@import "layout/normalize.scss";
@import "layout/adjustment.scss";


//sections

@import "sections/section-1.scss";
@import "sections/section-2.scss";
@import "sections/section-3.scss";
@import "sections/section-4.scss";
@import "sections/section-5.scss";
@import "sections/section-6.scss";
@import "sections/section-7.scss";
@import "sections/section-8.scss";


//fonts

@import "../fonts/stylesheet.css";
