$container-width: 940px;

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  color: $black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  min-width: $container-width + 20px;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.footer {
  height: 50px;
  margin-top: -50px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
