$container-width: 940px;
body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    color: $black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    min-width: $container-width + 20px;
}

.maincontent {
    height: 100%;
    position: relative;
    transform: translate3D(0, 0, 0);
    transition: 1s;
}

.container {
    width: $container-width;
    margin: 0 auto;
    position: relative;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.footer {
    height: 50px;
    margin-top: -50px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.title {
    font-family: 'Gagalin';
    font-weight: normal;
    font-size: 72px;
    line-height: 85px;
}

.button {
    display: inline-block;
    border-radius: 5px;
    background: $red;
    color: white;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 2px 15px;
    transition: .5s;
    font-family: 'Ubuntu';
    font-weight: 500;
    &:hover {
        background: $red-dark;
    }
}

.dots-list {
    position: fixed;
    right: 50px;
    top: 90px;
    width: 16px;
    z-index: 10;
}

.dots-item {
    margin: 0 auto;
    margin-bottom: 5px;
}

.dots-item__link {
    height: 16px;
    width: 16px;
    display: block;
    position: relative;
    &::before,
    &::after {
        display: block;
        position: absolute;
        content: '';
        height: 6px;
        width: 6px;
        background: white;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &::after {
        height: 0;
        width: 0;
        background: transparent;
        border: 1px solid white;
        transition: .5s;
    }
}

.dots-item.active .dots-item__link::after,
.dots-item__link:hover::after {
    height: 14px;
    width: 14px;
}
