.team {
    background-image: url('../img/bg/bg-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &__block {
        width: 50%;
        background: rgba(47, 50, 52, 0.93);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 100px 80px 0;
    }

    &__title {
        color: $yellow;
        text-align: left;
        margin-bottom: 68px;
    }

    &-list {
        max-width: $container-width / 2 ;
        margin-left: 20px;
    }
}

.team-item {
    text-align: left;
    margin-bottom: 22px;

    &__content {
        height: 0;
        overflow: hidden;
    }

    &__trigger {
        font-family: 'Gagalin';
        font-weight: normal;
        color: white;
        font-size: 14px;
        line-height: 28px;
        position: relative;
        transition: color .3s;

        &:hover {
            color: $yellow;
        }

        &::before {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-top: 6px solid $yellow;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 0;
            left: -20px;
            top: 50%;
            margin-top: -3px;
            transition: .3s;
        }
    }

    &_active {
        margin-bottom: 35px;

        .team-item__trigger {
            color: $yellow;

            &::before {
                transform: rotate(-180deg);
            }
        }
        
        .team-item__content {
            margin-top: 4px;
            height: auto;
        }
    }

    &__photo {
        float: left;
        width: 100px;
        margin-top: 6px;

         &__image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    &__text {
        width: calc(100% - 120px);
        float: left;
        margin-left: 20px;
        color: white;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Ubuntu';
    }

    &__title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__description {
        font-weight: 300;
    }
}