.hero {
    background: url('../img/bg/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.hero .container {
    position: static;
}

.hero__header {
    top: 0;
    height: 100px;
    font-size: 0;
    &-left {
        width: 140px;
        display: inline-block;
        vertical-align: middle;
        &__logo {
            height: 100px;
            width: 100px;
            background: url(../img/icons/logo.svg) no-repeat center;
        }
    }
    &-right {
        width: 800px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        &__menu {
            display: inline-block;
            &__list {
                text-align: left;
            }
            &__item {
                position: relative;
                display: inline-block;
                margin: 0 18px;
                &:last-child {
                    margin-right: 15px;
                }
                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: white;
                    right: -20px;
                    top: 13px;
                }
                &:last-child::after {
                    display: none;
                }
            }
            &__link {
                font-family: 'Ubuntu';
                font-weight: 500;
                color: white;
                font-size: 13px;
                line-height: 30px;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.hero__main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-left {
        width: 50%;
        float: left;
    }
    &-right {
        width: calc(50% - 10px);
        float: left;
        margin-left: 10px;
        padding-top: 130px;
        &__text-top {
            color: $yellow;
            text-align: left;
            margin-bottom: 10px;
        }
        &__text-bottom {
            font-family: 'Lifehack';
            font-weight: 500;
            color: white;
            font-size: 65px;
            line-height: 1em;
            text-align: left;
        }
    }
}

.arrow-scroll {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60px;
    height: 14px;
    margin-left: -15px;
    transition: .3s;
    height: 60px;
}

.arrow-scroll__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    transition: .2s;
    width: 30px;
    height: 14px;
}

.arrow-scroll:hover .arrow-scroll__pic {
    transform: translate(-50%, -150%);
    width: 39px;
    height: 18px;
}
